{{ template "header" .}}

<h2>Top serious throwback...</h2>

<form action="/thread/new" method="POST">
    <table class="table-max-w">
        <tbody>
            <tr>
                <td>
                    <label for="subject">subject:</label>
                </td>
                <td class="wide">
                    <input type="text" id="thread" name="subject"><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="thread_body">body:</label>
                </td>
                <td class="wide">
                    <textarea rows="15" cols="24" name="thread_body"></textarea><br />
                    <button type="submit" onclick="">Post it!</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{{ template "footer" .}}
