{{ template "header" .}}
<h1>{{ .Title }}</h1>
<h2>{{ .TPD.Subject }}</h2>

<table>
    <tbody>
        {{ range .TPD.ThreadPosts }}
        <tr>
            <td>On {{ .DatePosted.Time | formatTimestamp}}, {{ .Email.String }} posted</td>
        </tr>
        <tr>
            <td>{{ .Body.String }}</td>
        </tr>
        {{ else }}
        <tr>
            <td>Nothing here?</td>
        </tr>
        {{ end}}
    </tbody>
</table>
<p>
<form action="/thread/{{ .TPD.ID }}" method="POST">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="thread_body">Body:</label><br>
                    <textarea rows="10" cols="25" name="thread_body"></textarea><br />
                    <button type="submit" onclick="">Post it!</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</p>

{{ template "footer" .}}
