{{ template "header" . }}

{{ template "menu" . }}

<h3>Board statistics</h3>

<div class="board-stats">
    <div class="board-stats-item">
        <span class="board-stats-label">Total posts</span>
        <span class="board-stats-value">{{ .BoardData.TotalThreadPosts.Int32 }}</span>
    </div>
    <div class="board-stats-item">
        <span class="board-stats-label">Total threads</span>
        <span class="board-stats-value">{{ .BoardData.TotalThreads.Int32 }}</span>
    </div>
    <div class="board-stats-item">
        <span class="board-stats-label">Total users</span>
        <span class="board-stats-value">{{ .BoardData.TotalMembers.Int32 }}</span>
    </div>
</div>

<h3>Board configuration</h3>

<div class="form-container">
    <form action="/admin" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="action" value="update_config">
        <div class="form-group">
            <label for="board_title">Board Title</label>
            <input type="text" id="board_title" size="50px" name="board_title" value="{{ .BoardData.Title }}">
        </div>
        <div class="form-group">
            <label for="edit_window">Edit window (in seconds)</label>
            <input type="text" id="location" size="50px" name="edit_window" value="{{ .BoardData.EditWindow.Int32 }}">
        </div>
        <div class="form-group">
            <button type="submit">Update config</button>
        </div>
    </form>
</div>

<a href="/">Back to board</a>

{{ template "footer" . }}
