{{ template "header" . }}

{{ if .Thread }}
<h2>Editing thread...</h2>

<div class="form-container">
    <form action="/thread/{{ .Thread.ThreadID }}/edit" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="thread_post_id" value="{{ .Thread.ThreadPostID }}">
        <div class="form-group">
            <label for="subject">subject</label>
            <input type="text" id="subject" name="subject" required value="{{ .Thread.Subject }}">
        </div>
        <div class="form-group">
            <label for="thread_body">body</label>
            <textarea id="thread_body" name="thread_body" rows="10" cols="75"
                required>{{ .Thread.Body.String }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit">Update it!</button>
        </div>
    </form>
</div>

<a href="/thread/{{ .Thread.ThreadID }}">Back to thread</a>
</div>
</div>
{{ else }}
<h2>No thread here...</h2>
{{ end }}

{{ template "footer" . }}
