{{ template "header" . }}

{{ template "menu" . }}

{{ if .Member }}
<h3>Editing profile for {{ .User.Email }}</h3>

<div class="form-container">
    <form action="/member/edit" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="form-group">
            <label for="photo_url">Photo URL</label>
            <input type="url" id="photo_url" size="72px" name="photo_url" value="{{ .Member.PhotoUrl.String }}">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" size="72px" name="location" value="{{ .Member.Location.String }}">
        </div>
        <div class="form-group">
            <label for="pronouns">Pronouns</label>
            <input type="text" id="pronouns" size="72px" name="pronouns" value="{{ .Member.Pronouns.String }}">
        </div>
        <div class="form-group">
            <label for="preferred_name">Preferred Name</label>
            <input type="text" id="preferred_name" size="72px" name="preferred_name"
                value="{{ .Member.PreferredName.String }}">
        </div>
        <div class="form-group">
            <label for="Bio">Bio</label>
            <textarea id="bio" name="bio" rows="10">{{ .Member.Bio.String }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit">Update Profile</button>
        </div>
    </form>
</div>

<a href="/member/{{ .Member.ID }}" class="back-link">Back to Profile</a>
</div>
</div>
{{ else }}
<h2>No member here...</h2>
{{ end }}

{{ template "footer" . }}
