/* Variables */
:root {
    --border: 1px solid grey;
    --primary-color: #B56484;
    --background-color: #dfdfdf;
    --even-row-color: #CCC;
    --odd-row-color: #DDD;
    --header-color: #efefef;
}

/* Base styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

a {
    color: var(--primary-color);
}

/* Table styles */
table {
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

table>*>tr:not(:last-child)>*,
table>*:not(:last-child) {
    border-bottom: var(--border);
}

th,
td {
    padding: 5px;
    vertical-align: top;
}

th,
td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

th {
    background-color: var(--header-color);
    text-align: left;
    font-weight: 600;
}

tbody>tr:nth-child(even) {
    background-color: var(--even-row-color);
}

tbody>tr:nth-child(odd) {
    background-color: var(--odd-row-color);
}

/* Column styles */
.wide {
    width: 80%;
}

.col-subject,
.thread-col-subject {
    width: max(200px, calc(100vw - 680px));
}

.col-user,
.thread-col-user {
    width: 220px;
    text-align: right;
}

.col-date {
    width: 170px;
}

.col-posts {
    width: 80px;
}

.thread-col-subject,
.thread-col-user {
    padding-left: 10px;
}

.table-max-w {
    max-width: 1000px;
}

.table-max-w .col-200 {
    width: clamp(200px, calc(100vw - 680px), 520px);
}

/* Profile styles */
.profile {
    width: 100%;
    border: var(--border);
    border-radius: 10px;
    margin: 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    margin: 20px auto;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Profile table styles */
.profile-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
}

.profile-table th td {
    padding: 0 0 0 10px;
    vertical-align: top;
}

.profile-column {
    width: 200px;
    background-color: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
}

.user {
    text-align: right;
    padding-right: 10px;
}

.version {
    font: x-small 'Courier New', Courier, monospace;
    padding: 5px;
    color: rgb(46, 43, 43);
}

/* Thread post styles */
.threadpost-bubble {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    overflow-wrap: break-word;
}

.threadpost-header {
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    color: #555;
}

.threadpost-body {
    width: 100%;
    font-size: 1.1em;
    color: #333;
}

/* Form styles */
.form-container {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: fit-content;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    resize: none;
    color: #555;
}

.form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(184, 92, 166, 0.5);
    outline: none;
}

.form-group button {
    width: 25%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #bb509b;
}


.info-column {
    padding: 10px;
}

/* Content styles */
.content-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.content-row {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.thread-content-row {
    margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 768px) {

    .profile-table,
    .profile-table tbody,
    .profile-table tr,
    .profile-column,
    .info-column {
        display: block;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .chat-bubble {
        padding: 8px;
    }

    .chat-header {
        font-size: 0.8em;
    }

    .chat-message {
        font-size: 0.9em;
    }

    .form-container {
        padding: 15px;
    }

    .form-group textarea,
    .form-group button {
        font-size: 0.9em;
        padding: 8px;
    }
}
